/*
Description: 	Theme for groupweb page
Author: 	Adam Rule, 2012
*/
body {
	font-family: Lucidia Grande, Helvetica, Arial, sans-serrif;
	width: 10000px;
}


.rightmost {
	padding-right: 200px;
}

.home {
	padding-top: 30px;
	padding-left: 100px;
	padding-right: 50px;
	width: 1020px;
	float: left;
}

.theory_container {
	padding-top: 30px;
	padding-right: 50px;
	width: 1020px;
	float: left;
}

.theory_summary {
	height: 600px;
	background-color: #CCC; 
}

.theory_figures {
	height: 600px;
	background-color: #AAA;
}

.theory_problems {
	height: 600px;
	background-color: #999;
}

.theory_methods {
	height: 600px;
	background-color: #777;
}

#menu-container {
	background-color: transparent;
	height: 48px;
	width: 100%;
	padding: 0px;
	margin: 0px;
	position: fixed;
	top: 0px;
	left: 0px;
}

#menu-container ul {
	width: 1020px;
	list-style-type: none;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#menu-container ul li {
	float: left;
	overflow-x: visible;
	padding-right: 20px;
	font-size: 14px;
}

#menu-container ul li.about {
	float: right;
}

#menu-container ul li a {
	text-decoration: none;
	color: #FFF;
}

#menu-container ul li a:hover {
	color: #AAA;
}

#primary-menu {
	height: 24px;
	color: #FFF;
	background-color: #303030;
}

#secondary-menu {
	height: 24px;
	background-color: #909090;

}
